#challenge-sidebar
	width: $width__sidebar
	height: 100vh
	background-color: #ddd
	transition: .7s
	&.is-closed
	    transform: translateX(-275px)
	position: fixed
	top: 0
	bottom: 0
	right: -275px//$width__sidebar
	li, ol
		list-style: none
	h3, li
		cursor: pointer
	.accordion-body
		visibility: hidden
		max-height: 0
		&.open
			visibility: visible
			max-height: 200px
		li
			&.current
				background: $green

#sidebar-toggle-button
  position: fixed
  z-index: 1
  border: 4px solid #fff
  outline: none
  width: 50px
  height: 50px
  border-radius: 50%
  margin-left: -28px
  margin-top: 1em
  background-color: #ccc
  transform: rotate(45deg)
  cursor: pointer
  transform: translateX(.3em) rotate(0deg)
  transition: .5s
  &.is-closed
    transform: translateX(0) rotate(45deg)
  .icon
    font-size: 20px
    color: #fff
